name: Bad CI/CD Pipeline

on: [push]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Install Node.js
        run: sudo apt-get install -y nodejs npm

      - name: Checkout code
        run: git clone https://github.com/Anatoliy124/10.git

      - name: Install dependencies
        run: npm install

      - name: Run tests
        run: npm test

      - name: Deploy to production
        run: echo "Deploying to production"
