name: CI/CD Pipeline

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

env:
  NODE_VERSION: 14

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Print current directory
        run: pwd

      - name: List directory contents
        run: ls -la

      - name: Install dependencies
        run: npm install
        working-directory: ./cicd-3-laba

      - name: Run tests
        run: npm test
        working-directory: ./cicd-3-laba

  deploy:
    runs-on: ubuntu-latest
    needs: build
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up Node.js
        uses: actions/setup-node@v3
        with:
          node-version: ${{ env.NODE_VERSION }}

      - name: Deploy application
        run: npm run deploy -- --version $BUILD_VERSION
        working-directory: ./cicd-3-laba
        env:
          BUILD_VERSION: ${{ github.run_number }}
