name: CI/CD Pipeline

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

env:
  NODE_VERSION: 14

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      # Диагностика текущей директории
      - name: Print working directory
        run: pwd

      - name: List directory contents
        run: ls -la

      # Переход в нужную директорию (если требуется)
      - name: Change to project directory
        run: cd ./Desktop/cicd-3-laba

      - name: Set up Node.js
        uses: actions/setup-node@v3
        with:
          node-version: ${{ env.NODE_VERSION }}

      - name: Install dependencies
        run: npm install

      - name: Run npm audit
        run: npm audit

      - name: Run tests
        run: npm test

  deploy:
    runs-on: ubuntu-latest
    needs: build
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      # Диагностика текущей директории
      - name: Print working directory
        run: pwd

      - name: List directory contents
        run: ls -la

      # Переход в нужную директорию (если требуется)
      - name: Change to project directory
        run: cd ./Desktop/cicd-3-laba

      - name: Set up Node.js
        uses: actions/setup-node@v3
        with:
          node-version: ${{ env.NODE_VERSION }}

      - name: Deploy application
        run: npm run deploy -- --version $BUILD_VERSION
        env:
          BUILD_VERSION: ${{ github.run_number }}
